@charset "UTF-8";

.body{
    background-color: #FFE0FE;	
	
}
.navbar-expand-lg {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    
}

.display-4{
    color: #FFB6B7;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.lead{
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}
.Subtext {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;	
}
.button {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFB6B7;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color: #FFB6B7;
    margin-bottom: 20px;	
}

.jumbotron{
    background-image: url(../images/Lights.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;	
	
}
.Title {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-weight: 400;
    text-align: center;
    color: #9C2A4E;
    padding-bottom: 20px;
}

.row{
    margin-bottom: 40px;
    background-color: #F7EEF6;
}


.firstartist {
    color: #9C2A4E;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}
.secondartist {
	 color: #9C2A4E;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}

.thirdartist {
	 color: #9C2A4E;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}


.fourthartist {
	 color: #9C2A4E;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}


.img-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
}


.lineup {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    text-align: left;
}

.footer{
    background-color: #9C2A4E;
    color: #FFB6B7;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.form-control{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.my-2{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.handsup{
    border-top-left-radius: 274px;
    border-top-right-radius: 274px;
    border-bottom-right-radius: 274px;
    border-bottom-left-radius: 274px;
}

.subtitle1{
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
}

.subtitle2{
	   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
}

.review1{
    font-style: italic;
    font-weight: 200;
}

.review2{
	font-style: italic;
    font-weight: 200;
}

.review3{
	font-style: italic;
    font-weight: 200;
}

.popularplaces{
    text-align: center;
    font-weight: 200;
}

.headerfoodtrucks{
    color: #9C2A4E;
    text-align: center;
    font-weight: 200;
}

.col{
    text-align: center;	
	
}

.yoursucces{
    color: #9C2A4E;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

.carousel{
    margin-top: 10px;	
}

.quote1{
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.quote2{
	font-style: italic;
    font-weight: 300;
    text-align: center;
}.handsup {
}
